<div style="padding: 2em;">
  <label>from: <input type="date" [(ngModel)]="fromDt"></label>
  <label style="padding-left: 1em;">to: <input type="date" [(ngModel)]="toDt"></label>
  <all41-tabulator [(tabulator)]="logEntries" [extendedOptions]="logEntriesExtOptions" [tabulatorOptions]="logEntriesOptions" >
    </all41-tabulator>

  <table class="table table-striped" *ngIf="selectedLogEntry">
    <thead><tr>
      <th>field</th>
      <th>value</th>
    </tr></thead>
    <tbody>
      <tr *ngFor="let prop of keys(selectedLogEntry)" [hidden]="['metas', 'id', 'createdAt', 'updatedAt'].includes(prop)">
        <td>{{prop}}</td>
        <td>{{selectedLogEntry[prop]}}</td>
      </tr>
      <tr *ngFor="let meta of selectedLogEntry.metas" [hidden]="['message'].includes(meta.key)">
        <td>{{meta.key}}</td>
        <!-- <td *ngIf="meta.key !== 'stack'">{{meta.value}}</td> -->
        <!-- <td *ngIf="meta.key === 'stack'"><pre>{{meta.value}}</pre></td> -->
        <td><pre>{{meta.value}}</pre></td>
      </tr>
    </tbody>    
  </table>
  <!-- {{selectedLogEntry|json}} -->
</div>
