<section #menu id="menu">
  <img src="/assets/logo.png">
  <h1>{{title|uppercase}}</h1>
  <div>
    <div *ngIf="secured" style="width:100%; margin: auto;text-align: center;">
      <button *ngIf="!authUser" role="button" (click)="login()">login</button>
      <div style="color: white" *ngIf="authUser">{{authUser}} <button role="button" (click)="logout();login();">logout</button> </div>
    </div>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">HOME</a></li>
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/config">CONFIGURATION</a></li>
      <li [class.active]="router.url.startsWith('/module/')"><a routerLink="/module">MODULE</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/exchange">EXCHANGE</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/key-map">DATA MAPPING</a></li>
      <li><a href="/iam/manage">ACCESS</a></li> -->
      <li *ngFor="let menuItem of customMenu"><a [href]="menuItem.uri">{{menuItem.label}}</a></li>
    </ul>
  </div>
</section>
<button id="menuToggle" type="button" (click)="toggleMenu()">&lt;&gt;</button>
<section #content *ngIf="!secured || isIdTokenSet" id="content">
  <router-outlet></router-outlet>
</section>
